.weather-info h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.weather-info ul {
  padding: 0;
  margin: 0;
}

.weather-info li {
  list-style: none;
  color: grey;
}

.weather-info .weather-display {
  display: flex;
  align-items: center;
  gap: 15px;
}

.weather-info .temperature-value {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.5;
}

.weather-info .temperature-units {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  top: -38px;
}
